BR2_arm=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_HOSTNAME="suda-morris"
BR2_TARGET_GENERIC_ISSUE="Welcome to Buildroot(suda-morris)"
BR2_TARGET_GENERIC_ROOT_PASSWD="321woaini"
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
